/*Multi-page styling*/
*{
    padding: 0;
    margin: 0;
    position:relative;
    font-family: 'Montserrat Alternates', sans-serif;;
}

.heading {
    font-size: 2rem;
}

.card {
    background-color: rgba(192, 192, 192, 0.8)
}

.box {
    padding: 1rem;
    border: 1px solid black;
    margin: 1px;
}

.spacing {
    margin: 20px;
}

.help-buttons {
    margin: 2px;
}


/*Background image for all pages*/
.background {
    height: 100vh;
    width: 100vw;
    position:fixed;
}

/*home page, login and registration cards*/
.cards {
    position: absolute;
    float: left;
    padding: 10px;
    margin: 2rem;
    background-color: rgba(192, 192, 192, 0.8);
}

.form-button {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btn:hover {
    color:red;
}

a {
    text-decoration: none;
    color: black;
}

.registration-card {
    width: 25rem;
}

.bold {
    font-weight: bold;
}

/*flashed messages*/
.messages {
    color: white;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
}

/*heading styling*/
.titles {
    color: black;
    text-align: center;
}

/*userprofile page*/
.profile {
    margin-top: 2rem;
}

.user-info {
    list-style-type: none;
    text-align: left;
    padding: 2rem;
}

.prof-pic {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    float: left;
    margin-right: 2rem;
    border: black solid 1px;
}

/*review page*/

.bookpic {
    width: 15rem;
    height: 18rem;
    
}

/*book page */

.bookcover {
    width: 7rem;
    height:10rem;
    margin-right: 1rem;
    border: 2px black solid;
    float: left;
}

.book-info {
    position:relative;
    margin: 0;
}

.rows {
    margin: 2rem;
}

.rating {
    padding: 1px;
}

.searchbar {
    padding:1rem;
    
}

/*star rating*/

.star {
    color: black;
    font-size: 2rem;
    cursor: pointer;
    background-color: unset;
    border: none;
}

/*Edit review page */

.edit-cards {
    margin: 1rem;
}

.padding {
    padding: 5px;
}


