/*Multi-page styling*/
*{
    padding: 0;
    margin: 0;
    position:relative;
    font-family: 'Montserrat Alternates', sans-serif;;
}

.card {
    background-color: rgba(192, 192, 192, 0.8)
}

.box {
    padding: 1rem;
    border: 1px solid black;
    margin: 1px;
}

/*Background image for all pages*/
.background {
    height: 100vh;
    width: 100vw;
    position:fixed;
}

/*home page, login and registration cards*/
.cards {
    position: absolute;
    float: left;
    padding: 10px;
    margin: 2rem;
    background-color: rgba(192, 192, 192, 0.8);
}

.form-button {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btn:hover {
    color:red;
}

a {
    text-decoration: none;
    color: black;
}

/*flashed messages*/
.messages {
    color: white;
    text-align: center;
    padding: 1rem;
}

/*heading styling*/
.titles {
    color: black;
    text-align: center;
    padding: 1rem;
}

/*userprofile page*/
.background-color {
    width: 50vw;
    border-left: auto;
    border-right: auto;
    background-color: rgba(192, 192, 192, 0.8); 
    margin:auto;
    margin-top: 2rem;
    padding: 1rem;
}

.user-info {
    list-style-type: none;
    text-align: left;
    padding: 2rem;
}

.prof-pic {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    float: left;
    margin-right: 2rem;
}

/*review page*/

.bookpic {
    width: 15rem;
    height: 18rem;
    
}

/* Display books on book pages */

.bookcover {
    width: 7rem;
    height:10rem;
    margin-right: 1rem;
    border: 2px black solid;
    float: left;
}

.book-info {
    position:relative;
    margin: 0;
}

.rows {
    margin: 2rem;
}

.rating {
    padding: 1px;
}