{% extends "base.html" %}
{% block body %}

<!--display message if page doesn't exist-->
<!--if logged in, return to profile-->
{% if session.user %}
    <h1 class="messages text-center">Oops! This page doesn't exist!<br>Click <a class="text-white bold"
        href="{{ url_for('userprofile', username=session['user']) }}">here</a> to return to your profile page!</h1>
<!--if not logged in, return to log in page-->
{% else %}
    <h1 class="messages text-center">Oops! This page doesn't exist!<br>Click <a class="text-white bold"
        href="{{ url_for('home_page') }}">here</a> to return to the login page!</h1>
{% endif %}
{% endblock %}