{% extends "base.html" %}
<!--Create element of CRUD-->
{% block main %}
<div class="row">
    <div class="card edit-cards col-sm-6">
        <div class="card-header">
            <p class="titles"><b>Add New Book</b></p>
        </div>
        <!--Add book to mongo-->
        <div class="card-body">
            <form method="POST" action="{{ url_for('addbook') }}">
                <div class="row">
                    <!--Add important info about book-->
                    <label for="image" class="form-label">Image(enter URL):</label><br>
                    <!--Provide help to upload image -->
                    <a tabindex="0" class="btn btn-sm btn-dark help-buttons" role="button" data-toggle="popover"
                        data-trigger="hover" title="Image Help"
                        data-content="Search for your book, right click on the book cover image and select 'copy image address' then paste below.">?</a>
                    <input type="url" name="image" class="form-control" id="image" placeholder="Enter image URL"
                        required><br>
                </div>
                <div class="row">
                    <label for="title" class="form-label">Title:</label><br>
                    <input type="text" name="title" class="form-control" id="title" placeholder="Enter title"
                        required><br>
                </div>
                <div class="row">
                    <label for="author" class="form-label">Author:</label><br>
                    <input type="text" name="author" class="form-control" id="author" placeholder="Enter author"
                        required><br>
                </div>
                <div class="row">
                    <label for="genre" class="form-label">Genre:</label><br>
                    <input type="text" name="genre" class="form-control" id="genre" placeholder="Enter genre"
                        required><br>
                </div>
                <div class="row">
                    <div class="col card-body">
                        <button class="btn btn-dark form-button" type="submit">Add Book</button>
                        <a class="btn btn-dark form-button" href="{{ url_for('userprofile', username=session['user']) }}">Back to Profile</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}