{% extends "base.html" %}
{% block body %}

<div class="container-fluid">
    <div class="card">
        <div class="col-sm-6">
            <div class="background-color">
                <div class="card-header">
                    <p class="titles"><b>Add New Review</b></h1>
                </div>
                <div class="card-body">
                    <form method="POST" action="{{ url_for('addreview') }}">
                        <div class="row">
                            <label for="review" class="form-label"><b>Review:</b></label><br>
                            <textarea name="review" class="form-control" id="review"
                                placeholder="Enter review; did you like it? Why/not? Would you recommend? Why/not?"
                                required></textarea><br>
                        </div>
                        <div class="row">
                            <label for="rating" class="form-label"><b>Rating:</b></label><br>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-dark" type="submit">Add Review</button>
                            </div>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}