{% extends "base.html" %}
{% block body %}

{% for book in books %}
<div class="row rows">
    <div class="col-12">
        <!--book._id to make sure each book is it's own individual section-->
        <div id="accordion{{book._id}}">
            <!--Book cover / title / author-->
            <div class="card">
                <div class="card-body">
                    <img class="bookcover" src={{book.image}}>
                    <p class="book-info"><b>Author:</b> {{ book.author | title }}</p><br>
                    <p class="book-info"><b>Title:</b> {{ book.title | title }}</p><br>
                    <p class="book-info"><b>Average Rating:</b></p><br>
                </div>
            </div>
            <!--View Reviews which have been left-->
            <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseOne{{book._id}}">
                        See Reviews
                    </a>
                </div>
                <div id="collapseOne{{ book._id }}" class="collapse" data-parent="#accordion{{book._id}}">
                    <div class="card-body">
                        <!--ensure reviews for the correct books are displayed-->
                        {% for review in reviews %}
                        {% if book.title == review.title %}
                        <div class="box">
                            <p class="book-info"><b>Review:</b>{{ review.review }}</p>
                            <p class="book-info"><b>Rating:</b>{{ review.rating }}</p>
                            <p class="book-info"><b>Reviewed By:</b>{{ review.review_by | title }}</p>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            
            <!--Leave Reviews-->
            <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo{{book._id}}">
                        Add Review
                    </a>
                    <!--What makes a good review -->
                    <a tabindex="0" class="btn btn-sm btn-dark help-buttons" role="button" data-toggle="popover"
                        data-trigger="hover" title="What Makes a Good Review?"
                        data-content="A review gives a quick overview of the content of the book. It also gives your opinion and whether you recommend it or not and why.">?</a>
                </div>
                <div id="collapseTwo{{ book._id }}" class="collapse" data-parent="#accordion{{book._id}}">
                    <div class="card-body">
                        <form method="POST" action="{{ url_for('addreview') }}">
                            <div class="row">
                                <label for="review" class="form-label"><b>Review:</b></label><br>
                                <textarea name="review" class="form-control" id="review"
                                    placeholder="Enter review; did you like it? Why/not? Would you recommend? Why/not?"
                                    required></textarea><br>
                            </div>
                            <div class="row">
                                <input type="text" name="id" class="form-control" id="id" value="{{ book._id }}" hidden> <br>
                            </div>
                            <div class="row">
                                <input type="text" name="title" class="form-control" id="title" value="{{ book.title }}" hidden> <br>
                            </div>
                            
                            <div class="row">
                                <p>Rating:</p>
                                <div class="rating">
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                            </div>
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-dark" type="submit">Add Review</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>



{% endfor %}






{% endblock %}