{% extends "base.html" %}
{% block body %}


{% for book in books %}
<div class="row rows">
    <div class="col-12">
        <div id="accordion">
            <!--Book cover / title / author-->
            <div class="card">
                <div class="card-body">
                    <img class="bookcover" src={{book.image}}>
                    <p class="book-info"><b>Title:</b> {{ book._id }}</p><br>
                    <p class="book-info"><b>Author:</b> {{ book.author }}</p><br>
                    <p class="book-info"><b>Title:</b> {{ book.title }}</p><br>
                    <p class="book-info"><b>Average Rating:</b></p><br>
                </div>
            </div>
            <!--View Reviews which have been left-->
            <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseOne">
                        See Reviews
                    </a>
                </div>
                <div id="collapseOne" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        {% for review in reviews %}
                            {% if book.title == review.title %}
                                <p class="book-info"><b>Review:</b>{{ review.review }}</p>
                                <p class="book-info"><b>Rating:</b>{{ review.rating }}</p>
                                <p class="book-info"><b>Reviewed By:</b>{{ review.review_by | title }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!--Leave Reviews-->
            <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                        Add Review
                    </a>
                </div>
                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <form method="POST" action="{{ url_for('addreview') }}">
                            <div class="row">
                                <label for="title" class="form-label"><b>Title:</b></label><br>
                                <input type="text" name="title" class="form-control" id="title" required> <br>
                            </div>
                            <div class="row">
                                <label for="review" class="form-label"><b>Review:</b></label><br>
                                <textarea name="review" class="form-control" id="review"
                                    placeholder="Enter review; did you like it? Why/not? Would you recommend? Why/not?"
                                    required></textarea><br>
                            </div>
                            <div class="row">
                                <p>Rating:</p>
                                <div class="rating">
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                            </div>
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-dark" type="submit">Add Review</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
                <a href="{{ url_for('addreview') }}" class="btn btn-dark" type="submit">Add a Review</a>
                <a href="{{ url_for('viewreview') }}" class="btn btn-dark" type="submit">View Reviews</a>-->

{% endfor %}






{% endblock %}