{% extends "base.html" %}
{% block body %}


{% for book in books %}
<div class="row rows">
    <div class="col-12">
        <div id="accordion">

            <div class="card">
                <div class="card-body">

                    <img class="bookcover" src={{book.image}}>
                    <p class="book-info"><b>Author:</b> {{ book.author }}</p><br>
                    <p class="book-info"><b>Title:</b> {{ book.title }}</p><br>

                </div>


                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                            Read Reviews
                        </a>
                    </div>
                    <div id="collapseTwo" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            Enter Reviews
                        </div>
                    </div>
                </div>

                <a href="{{ url_for('addreview') }}" class="btn btn-dark" type="submit">Add a Review</a>
                <a href="{{ url_for('viewreview') }}" class="btn btn-dark" type="submit">View Reviews</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}






{% endblock %}