{% extends "base.html" %}
{% block main %}
<!--Update & Delete elements of CRUD-->
<!--Allow users to edit books-->
<div class="row">
    <div class="card col-12 edit-cards">
        <form method="POST" action="{{ url_for('editbook', book_id=book._id) }}">
            <div class="row card-body">
                <label for="image" class="form-label padding">Image:</label><br>
                <input type="url" name="image" id="image" class="form-control" value="{{ book.image }}"><br>
                <label for="title" class="form-label padding">Book Title:</label><br>
                <input type="text" name="title" id="title" class="form-control" value="{{ book.title }}"><br>
                <label for="author" class="form-label padding">Author:</label><br>
                <input type="text" name="author" id="author" class="form-control" value="{{ book.author }}"> <br>
                <label for="genre" class="form-label padding">Genre:</label><br>
                <input type="text" name="genre" id="genre" class="form-control" value="{{ book.genre }}"><br>
                <input type="text" name="title" class="form-control" id="title" value="{{ book.added_by }}" hidden> <br>
                </div>

                <div class="row">
                    <div class="col">
                        <!--user can return to books-->
                        <a class="btn btn-dark" href="{{ url_for('viewbooks') }}">Back to Books</a>
                        <button class="btn btn-dark" type="submit">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}