{% extends "base.html" %}
{% block body %}

{% for review in reviews %}
{% if review.review_by | title == session['user'] | title %}
<div class="row">
    <div class="card col-12 edit-cards">
        <form method="POST" action="{{ url_for('edit', review_id=review._id) }}">
            <div class="row">
                <label for="title" class="form-label padding bold">Book Title:</label><br>
                <input type="text" name="title" class="form-control padding" id="id" value="{{ review.title }}"> <br>
            </div>
            <div class="row">
                <label for="review" class="form-label padding bold">Review:</label><br>
                <textarea name="review" class="form-control padding" id="review" required> {{ review.review }}</textarea><br>
            </div>
            <div class="row">
                <p class="padding bold">Rating:</p>
                
            </div>
            <div class="row">
                <div class="col">
                    <a class="btn btn-dark" href="{{ url_for('userprofile', username=session['user']) }}">Back to Profile</a>
                    <button class="btn btn-dark" type="submit">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endif %}
{% endfor %}
{% endblock %}