{% extends "base.html" %}
{% block body %}


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="card cards">
                <div class="card-body text-center">
                    <h5 class="card-title">Where will your next book take you?</h5>
                    <p class="card-text">Book reviews you can trust</p>
                    <a href="{{ url_for('login') }}" class="btn btn-dark">Login</a>
                    <a href="{{ url_for('register') }}" class="btn btn-dark">Register</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}