{% extends "base.html" %}
{% block body %}

<div class="container-fluid">
    <div class="card cards">
        <div class="card-header">
            Login
        </div>
        <div class="card-body">
            <!--check login function in python-->
            <form method="POST" action="{{ url_for('login') }}">
                <div class="row">
                    <label for="username" class="form-label">Username </label>
                    <input type="text" name="username" class="form-control" id="username" placeholder="Enter a username" required>
                </div>
                <div class="row">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="password" placeholder="Enter Password" required>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-dark form-button">Login</button>
                </div>
            </form>
            <!--Allow users to easily navigate to register if they aren't already-->
            <p>Don't have an account? <a class="link" href="{{ url_for('register') }}">Register</a></p>
        </div>
        </div>
    </div>
</div>

{% endblock %}