{% extends "base.html" %}
{% block body %}

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            Login
        <div class="card-body">
            <form method="POST" action="{{ url_for('login') }}">
                <label for="username" class="form-label">Username</label>
                <input type="email" class="form-control" id="username">
                <label for="password" class="form-label">Password</label>
                <input type="email" class="form-control" id="password">
            </form>
            <button type="submit" class="btn btn-dark form-button">Login</button>
            <p>Don't have an account? <a class="link" href="{{ url_for('register') }}">Register</a></p>
        </div>
        </div>
    </div>
</div>

{% endblock %}