{% extends "base.html" %}
{% block body %}

<div class="card cards registration-card">
    <div class="card-header">
        Register
    </div>
    <div class="card-body">
        <!--check register function in python-->
        <form method="POST" action="{{ url_for('register') }}">
            <div class="row">
                <label for="username" class="form-label bold">Username</label>
                <!--Provide help to register - username -->
                <a tabindex="0" class="btn btn-sm btn-dark help-buttons" role="button" data-toggle="popover"
                    data-trigger="hover" title="Username Help"
                    data-content="Must include: a capital letter, a number & be 6+ characters">?</a>
                <input type="text" name="username" class="form-control" id="username" pattern="^[a-zA-Z0-9]{6,}$"
                    placeholder="Enter a username" required>
            </div>
            <div class="row">
                <!--Double password check-->
                <label for="password1" class="form-label bold">Password</label>
                <!--Provide help to register - password -->
                <a tabindex="0" class="btn btn-sm btn-dark help-buttons" role="button" data-toggle="popover"
                    data-trigger="hover" title="Password Help"
                    data-content="Must include: a capital letter, a number & be 7+ characters">?</a>
                <!--Double password in case of mistypes-->
                <input type="password" name="password1" class="form-control" id="password1"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{7,}" placeholder="Enter Password" required>
                <label for="password2" class="form-label bold">Re-Enter Password</label>
                <input type="password" name="password2" class="form-control" id="password2"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{7,}" placeholder="Re-Enter Password" required>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-dark form-button">Register</button>
            </div>
        </form>
        <!--Allow users to easily log in if they have an account already-->
        <p>Already have an account? <a class="link" href="{{ url_for('login') }}">Login</a></p>
    </div>
</div>



{% endblock %}