{% extends "base.html" %}
{% block body %}

<div class="row">
    {% for review in reviews %}
    <div class="col-sm book-background">
        <p class="books"><b>Author:</b> {{ review.author }}</p><br>
        <p class="books"><b>Title:</b> {{ review.title }}</p><br>
        
        <!--
        <p class="books"><b>Genre:</b> {{ review.genre }}</p><br>
        <p class="books"><b>Review:</b> {{ review.review }}</p><br>
        <p class="books"><b>Reviewed By:</b> {{ review.review_by }}</p><br>-->
    </div>
    {% endfor %}

</div>



{% endblock %}