{% extends "base.html" %}
{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
        <div class="card text-center profile">
            
                <div class="card-header">
                    <p class="titles"><b>{{ username }}'s Profile</b></h1>
                </div>
                <div class="card-body">
                    <img class="prof-pic" src="{{ url_for('static', filename='images/profpic.png') }}">
                    <p class="user-info"><b>Username:</b> {{ username }}</p>

                </div>
                <div class="row">
                    <a href="{{ url_for('addbook') }}" class="btn btn-dark" type="submit">Add a Book</a>
                    <a href="{{ url_for('addreview') }}" class="btn btn-dark" type="submit">Add a Review</a>
                    <button class="btn btn-dark" type="submit">Edit a Review</button>
                    <a href="{{ url_for('logout') }}" class="btn btn-dark">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}