{% extends "base.html" %}
{% block body %}


<div class="row profile">
    <div class="col-12">
        <div class="card text-center">
            <div class="card-header">
                <p class="titles"><b>Reviews you have left</b></p>
                <a class="btn btn-dark" href="{{ url_for('userprofile', username=session['user']) }}">Back to Profile</a>
            </div>
            {% for review in reviews %}
            {% if review.review_by | title == session['user'] | title %}
            <div id="accordion{{ review._id }}">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse"
                                data-target="#collapseOne{{ review._id }}" aria-expanded="true"
                                aria-controls="collapseOne">
                                <p class="titles"> <b>{{ review.title }}</b></p>
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne{{ review._id }}" class="collapse" aria-labelledby="headingOne"
                        data-parent="#accordion{{ review._id }}">
                        <div class="card-body">
                            <p>{{  review.review }} </p>
                            <a href="{{ url_for('edit', review_id=review._id) }}" class="btn btn-dark" type="submit">Edit</a>
                            <a href="{{ url_for('delete', review_id=review._id) }}" class="btn btn-dark" type="submit">Delete</a>
                            
                        </div>
                    </div>
                </div>

                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock %}