{% extends "base.html" %}
{% block main %}
<!--Read elemet of CRUD-->
<!--view books a user has left-->
<div class="row">
    <div class="card edit-cards col-lg-12 text-center">
        <div class="card-header">
            <div class="titles text-center">Books You Have Added</div>
            <!--Allow user to return to profile if they clicked by mistake/change their mind-->
            <a class="btn btn-dark" href="{{ url_for('userprofile', username=session['user']) }}">Back to Profile</a>
        </div>
        <div class="card-body">
            <p class="titles text-center">Don't forget to add your most recent book!<br>We'd love to know what you're reading!</p>
            <!--Ensure only books added by the session user are displayed-->
            {% for book in books %}
            {% if book.added_by | title == session ['user']|title %}
            <div id="accordion{{ book._id }}">
                <div class="card-header" id="headingOne">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne{{ book._id }}"
                        aria-expanded="true" aria-controls="collapseOne">
                        <div class="titles">{{ book.title }}</div>
                    </button>
                </div>
            </div>
            <div id="collapseOne{{ book._id }}" class="collapse" aria-labelledby="headingOne"
                data-parent="#accordion{{ book._id }}">
                <a href="{{ url_for('editbook', book_id=book._id) }}" class="btn btn-dark margin" type="submit">Edit</a>
                <a href="{{ url_for('deletebook', book_id=book._id) }}" class="btn btn-dark margin"
                    type="submit">Delete</a>
            </div>
            
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}