<!--Login form-->
<form method="POST" action="{{ url_for('login') }}">
    <div class="row">
        <!--Both Username & Password are required to log on-->
        <label for="username" class="form-label">Username</label>
        <input type="text" name="username" class="form-control" id="username" placeholder="Enter a username" required>
    </div>
    <div class="row">
        <label for="password" class="form-label"><b>Password</b></label>
        <input type="password" name="password" class="form-control" id="password" placeholder="Enter Password" required>
    </div>
    <div class="row">
        <button type="submit" class="btn btn-dark form-button">Login</button>
    </div>
</form>