<nav class="navbar navbar-expand-lg bg-dark">
    <a class="navbar-brand text-white heading" href="{{ url_for('home_page') }}">Next Book, Please</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="navbar-brand text-white " href="{{ url_for('browsebooks') }}">Browse Books</a>
            </li>
            <li class="nav-item">
                <!--if there is a user logged in they can see their profile from nav bar otherwise they will see log in-->
                {% if session.user %}
                <a class="navbar-brand text-white"
                    href="{{ url_for('userprofile', username=session['user']) }}">Profile</a>
                    <a class="navbar-brand text-white"
                    href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                <a class="navbar-brand text-white" href="{{ url_for('login') }}">Login</a>
                {% endif %}
            </li>
        </ul>
        
    </div>
</nav>